.button {
  cursor: pointer;
  display: flex;
  width: 210px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
}

.button.apply {
	background: #ffc802;
	color: #000;
}

.button.apply:hover {
	background: #FFEDAB;
}

.button.apply:active {
	background: #c9ad4be3;
}

.button.reset {
	background: #fff;
	color: #000;
}

.button.reset:hover {
	background: #000;
	color: #fff;
}

.button.reset:active {
	background: #333;
	color: #fff;
}
